
    .content-logo {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    $box-color: #ef6f6a;
    $box-color-secondary: #ec4743;
    $background: #01406b;
    $background-secondary: #022c5e;
    
    ion-content{
        --background: linear-gradient(#01406b, #022c5e);
    }

    .content-page {
        background-image: linear-gradient(#01406b, #022c5e);
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        overflow: auto;

        .buttons {
            display: flex; justify-content: center; flex-direction: column; padding: 10px;
        }
    }