
<ion-content class="content-page">
  <div class="question-box">
    <div class="question">
      <p>Qual dos números abaixo é um múltipo de 3?</p>
      <div>
        <div class="time">30</div>
      </div>
    </div>
  </div>

  <div class="answers">
    <div class="ion-activatable ion-focusable hydrated">
      <span class="number">1</span>
      <span class="answer">18</span>
    </div>

    <div class="ion-activatable ion-focusable hydrated">
      <span class="number">2</span>
      <span class="answer">25</span>
    </div>

    <div class="ion-activatable ion-focusable hydrated">
      <span class="number">3</span>
      <span class="answer">19</span>
    </div>

    <div class="ion-activatable ion-focusable hydrated">
      <span class="number">4</span>
      <span class="answer">43</span>
    </div>


  </div>

  <div class="info">
    <div class="yellow-button">
      <p>ERRAR</p>
      <p>50</p>
    </div>
    <div class="yellow-button">
      <p>PARAR</p>
      <p>100</p>
    </div>
    <div class="yellow-button">
      <p>ACERTAR</p>
      <p>200</p>
    </div>
  </div>

</ion-content>