
<ion-content class="content-page">
  <div class="question-box">
    <div class="question">
      <p>{{ curQuesion.title }}</p>
      <div>
        <div class="time">{{ timeLeft }}</div>
      </div>
    </div>
  </div>

  <div class="answers">
    <div (click)="doAnswer(answer)" *ngFor="let answer of curQuesion.answers; let n = index;" class="ion-activatable ion-focusable hydrated">
      <span class="number">{{ n + 1 }}</span>
      <span class="answer">{{ answer.description }}</span>
    </div>
  </div>

  <div class="info" *ngIf="prizeInfo">
    <div class="yellow-button" role="button">
      <p>ERRAR</p>
      <p>{{ prizeInfo.wrongAnswer }}</p>
    </div>
    <div class="yellow-button" role="button" (click)="giveUp()">
      <p>PARAR</p>
      <p>{{ prizeInfo.quit }}</p>
    </div>
    <div class="yellow-button" role="button">
      <p>ACERTAR</p>
      <p>{{ prizeInfo.correctAnswer }}</p>
    </div>
  </div>

</ion-content>