<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <ion-button (click)="play()">Play</ion-button>


    <ion-button (click)="mil()">Pergunta de MIL reais</ion-button>
    <ion-button (click)="doisMil()">Pergunta de 2 MIL reais</ion-button>
    <ion-button (click)="tresMil()">Pergunta de 3 MIL reais</ion-button>


    <p *ngFor="let log of logs">
      {{log}}
    </p>

  </div>
</ion-content>
